.feynman__subtitle{
    position: relative;
    text-align: center;
    width: 648px;
    margin: 70px auto 0 auto;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    z-index: 3;
}