.khan__buy-link{
    display: flex;
    flex-direction: row;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    align-self: flex-start;
}

.khan__buy-link::after{
    content: '→';
    transition: all .3s;
    margin: 0 15px 0 5px;
}

.khan__buy-link:hover::after{
    margin: 0 5px 0 15px;
}